.logoS {
  width: 390px;
  height: 390px;
  margin-top: 0;
  padding: 0;
  position: relative;
  transform: translateX(-50%) translateY(10%);
}

.long desc{
  text-align: justify;
}

.Logo-about {
  width: 40%;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

@keyframes upDown {
  from{
    transform: translateY(-10px);
  }
  to{
    transform: translateY(10px);

  }
}

.arHeadset {
  position: absolute;
  transition: all 1s;
  color: rgba(0, 0, 0, 0.272);
  top: -100px;
  transform: rotate(0deg);
}
@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.globe {
  position: absolute;
  transform: rotate(30deg);
  color: rgba(0, 0, 0, 0.272);
  bottom: -50px;
  right: 0;
}


.LogoSectionAbout {
  text-align: left;
  display: inline-block;
  position: relative;
  font-family: repo-medium;
  padding-left: 10%;
}

.LogoSectionAbout h1 {
  font-weight: 700;
  text-align: left;
  font-family: repo-bold;
}

.Logo {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 1000px){
  .Logo-about{
    /* margin-left:9rem;   */
    width: 40vw;
  }
}

@media (max-width: 570px) {
  .logoS {
    margin-top: 10rem;
    margin-bottom: -10rem;
  }

  .Logo {
    margin: 0 auto;
  }
  .Logo-about{
    margin-left:10rem;  
    width: 50vw;
    margin-top: 5vh;
  }
  .LogoSectionAbout{
    margin-left: -20px;
  }
  
}
.title_community {
  margin-bottom: 5%;
  margin-top: 15vh;
  font-family: repo-bold;
  font-size: 5rem;
}

.community_logo_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom:'6%';

}
.community_logo_container .logo-community{
  width: 200px;
  object-fit: contain;
  transition: all 200ms ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo-community:hover{
  scale: 1.2;
}

.community_logo_container p{
  font-family: repo-extrabold;
  color: gray;
}