.logoS {
  width: 390px;
  height: 390px;
  margin-top: 0;
  padding: 0;
  position: relative;
  right: 130px;
}
.Logo {
  width: 60%;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
}


.LogoSectionAbout {
  text-align: left;
  width: 80%;
  display: inline-block;
  position: relative;
  font-family: 'Nunito', sans-serif;
}
.LogoSectionAbout h1 {
  font-weight: 700;
  text-align: left;
}

.Logo {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 570px) {
  .logoS {
    margin-top: 10rem;
    margin-bottom: -10rem;
  }
  .Logo {
    margin: 0 auto;
  }
}

@media (max-width: 570px) {
  .logoS {
    margin-top: 10rem;
    margin-bottom: -10rem;
    /* background-color: black; */
  }
  .Logo {
    margin: 0 auto;
  }
}


.ag-format-container {
  width: 100vw;
  margin: 0 auto;
}


/* body {
  background-color: #0000006b;
} */
.iosc_logo{
  transition: all ease 0.3s ;
}
.iosc_logo:hover{
  scale: 1.2;

}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  /* background-color: #121212; */
  background-color: #0a0d18;
 /* height: 160px; */
  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  /* min-height: 87px;
  margin: 0 0 25px; */

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(1) .ag-courses-item_bg {
  background-color: #8345e6;
}
.ag-courses_item:nth-child(2) .ag-courses-item_bg {
  background-color: #3770FF;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #8445E6;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #8445E6;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(30% - 30px);
  }
 
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}