@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
  --shadow-color: #ffffff;
  --shadow-color-light: #1d7585;
}
.Whole_div {
  background-repeat: repeat;
  background-size: auto 100vh;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.logoSection {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  color: rgb(218, 218, 218);
}

.logoSection p {
  color: rgb(44, 44, 44);
  font-weight: 100;
}

.mediaInfo {
  margin-top: 10vh;
  background-size: auto 100vh;
}

.color_sectiom {
  background-color: #000000;
  padding-bottom: 5rem;
}

.container-fluid {
  /* max-width: 1500px; */
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

.Row {
  text-align: center;
  width: 100vw;
}

.info {
  margin-top: 20vh;
  color: white;
}

.d-image img {
  width: 100%;
  position: relative;
  transition: 0.3s;
  top: 0px;
  transition: top 0.2s linear;
}

.d-image img:hover {
  opacity: 0.9;
  top: 10px;
}

.logoSection {
  text-align: center;
  padding: 20vh 10vh 0 10vh;
  /* margin-top: 3vh; */
  margin-bottom: 3vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 600px;
}

.info-div {
  width: 50%;
  position: relative;
}

.members {
  padding: 0vh 10vh 0 10vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.prizesection,
.scheduleSection {
  width: 100vw;
  /* background-color: #f3effe; */
  /* background-color: #f4dbee; */
  /* background-color: rgb(255, 242, 242); */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  margin-top: 70px;

}


.prizepool {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}
@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

.worth {
  margin: 5px 10px 10px 0;
  font-style: italic;
  font-size: 4rem;
  font-weight: 500;
  /* color: #420457; */
  color: transparent;
  background: linear-gradient(to right, #17e2d1, #06697b);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
}
.worthHeading {
  margin: 5px 10px 10px 0;
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 400;
  /* color: #420457; */
  color: transparent;
  background: linear-gradient(to right, #17e2d1, #06697b);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
}

.prizee {
  font-style: oblique;
  font-size: 3.5rem;
  font-weight: 1000;
  /* color: #420457; */
  color: transparent; 
  background: #06697b;
  -webkit-background-clip: text;
  background-clip: text;
  /* animation: neon 3s infinite; */
}

.money{
  color: transparent;
  background: linear-gradient(to right, #17e2d1, #06697b);
  -webkit-background-clip: text;
  background-clip: text;
}

.Prizes {
  width: 100%;
  font-family: repo-extrabold;
}


.sponsorSection {
  padding: 17vh 18vh 0 18vh;
}

#team {
  font-family: repo-bold;
  margin-top: 20vh;
}

.faqsSection {
  text-align: center;
  margin: 0 auto;
  padding: 17vh 18vh 0 18vh;
  margin-top: 0vh;
  /* height: 100vh; */
}

.my-faq-head {
  margin-bottom: 50px;
  font-family: repo-bold;
  margin-top: 15vh;
}

.reverse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

@media (max-width:1100px) {
  .info-div {
    width: 100%;
  }
}

@media (max-width:779.99px) {
  .reverse {
    flex-direction: row-reverse;
  }

  .homepage-map {
    margin-top: 80px;
  }
}

@media (max-width: 450px) {
  .contain img {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 30rem;
    /* width: 10rem; */
  }

  .imagee {
    display: none;
    z-index: -100;
  }

  .reverse {
    flex-direction: column-reverse;
  }

}


@media (max-width: 578px) {
  .mediaInfo {
    margin-top: 0;
  }

  .Whole_div {
    background-size: auto 100vh;
  }


  .members {
    margin-left: -15px;
    padding: 0;
  }

  .prizesection {
    padding-top: 17vh;
    margin-top: 70px;
  }

  .scheduleSection {
    padding-top: 17vh;
  }

  .sponsorSection {
    padding: 0;
    margin: 0;
    margin-top: 10rem;
    margin-left: -10px;
  }

  .logoSection {
    text-align: left;
    padding: 20vh 0vh 0 0vh;
  }

  .info-div {
    width: 100%;
  }

  .imagee {
    display: none;
  }

  .reverse {
    flex-direction: column-reverse;
  }
}


@media (max-width: 1175.99px) {
  .imagee {
    display: none;
  }
}

.contain {
  transition: all;
  margin-top: 5rem;
  margin-bottom: 5rem;
  z-index: 10;
}

.imagee {
  width: 70vh;
  /* transition: all 300ms ease-in;
  animation: upDown 1s infinite alternate ease; */
}

@keyframes upDown {
  from {
    transform: translateY(-20px)
  }

  to {
    transform: translateY(0px);
  }
}

.contain img {
  transition: transform 0.2s ease-in-out;
  /* animation: bounce 0.5s ease infinite; */
}


.cardone {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 30px;
  /* margin-right: 20px; */
}


.cardone .bg img {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;

}

/* @keyframes imgRotate {
  from{
    transform:translateX(-50%) rotateY(0deg);
  }
  to{
    transform: translateX(-50%) rotateY(360deg);
    
  }
} */
.text_prizes {
  font-family: 'Russo One', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0;
  line-height: 1.1;
  background-color: red;
  background-image: linear-gradient(45deg, rgb(67, 67, 67), #141313);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


.cards_prizes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-top: 10vh;
}

/* card2 */
.cardtwo {
  position: relative;
  width: 200px;
  height: 280px;
  border-radius: 14px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cardtwo .bg img {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  animation: imgRotate 2s infinite;
  transition: all 3s;
}




/* card3 */
.cardthree {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cardthree .bg img {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}

.cards_ {
  transition: all 300ms ease-in-out !important;
}

.cards_:hover {
  scale: 1.1;
}


/* more Prizes */
.more_prizes {
  width: 100%;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

.more-one {
  /* width: 200px;
  height: 250px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

/* .gif_prize {
  width: 150px;
}

.more-title {
  font-family: repo-bold;
  background-color: black; */
  /* background-image: linear-gradient(45deg, red, #2D71D5); */
  /* background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
} */

.more-title-sponsor {
  font-family: repo-bold;
  font-size: x-large;
  background-color: red;
  background-image: linear-gradient(45deg, red, #2D71D5);
  background-size: 100%;
  background-clip: text;
  margin-top: 10%;
  /* -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; */
}

.more-title-sponsor-silver {
  display: flex;
  /* flex-direction: row; */
  vertical-align: middle;
  justify-content: center;
  flex-wrap: wrap;
}

/* .sponsor-logos{
  width: 90vw;
  display: grid;
  grid-template-columns: auto auto auto;
}
.sponsor-bg{
  width: 200px;
  height: 150px;
  padding: 20px;
} */
.sponsor-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-left: -17px;
}

.sponsor-logos {
  width: 100%;

  max-width: 300px;
  margin-bottom: 20px;
  transition: all 200ms ease-in !important;
}

.sponsor-logos:hover {
  scale: 1.1;
}

.sponsor-bg {
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px;   */
  background-color: transparent;
  box-shadow: 10px 10px 60px #49494960 ,inset -10px -10px 40px #ffffff5d ;
  height: 200px;
  /* width: 400px; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-bg img {
  width: 120%;
  height: auto;
  scale: 0.6;
}



/* Default styles for both mobile and laptop views */
.image-container {
  display: flex;
  /* Use flexbox for positioning images */
  justify-content: center;
  /* Center images horizontally */
}

.mobile-image,
.laptop-image {
  display: none;
  /* Hide all images by default */
  max-width: 100%;
  /* Make images responsive */
  height: auto;
  /* Maintain aspect ratio */
}

/* Styles for mobile view (max-width: 767px) */
@media only screen and (max-width: 767px) {
  .mobile-image {
    display: block;
    /* Display the mobile image */
  }
}

/* Styles for laptop view (min-width: 768px) */
@media only screen and (min-width: 768px) {
  .laptop-image {
    display: block;
    /* Display the laptop image */
  }
}

@media (max-width: 767px) {
  .Schedule-heading {
    display: block;
    font-size: 24px;
    /* Adjust the font size as needed */
    /* Add any other styles you need to make it visible and look good on smaller screens */
  }

  .contact-us-container {
    flex-direction: column;
  }
}

.contact-us-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.contact-us-container>h3 {
  font-family: "repo-bold";
}

/* Default styles for both divs */

.card {
  width: 560px;
  border-radius: 30px;
  /* background: linear-gradient(rgb(58, 179, 226), rgb(4, 81, 109), rgb(2, 91, 123)); */
  background: linear-gradient(to bottom right, #00C2B1, #002D5B, #000000);
  padding: 30px;
  overflow: hidden;
  box-shadow: rgba(3, 31, 40, 0.4) 0px 2px 4px, rgba(3, 31, 40, 0.3) 8px 12px 18px -8px, rgba(3, 31, 40, 0.2) 10px -30px 10px inset;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* margin-left: 8%; */
}

/* #card2{
  margin-left: 15%;
} */

.card:hover {
  transform: scale(1.05);
}

.card .top-section {
  height: 150px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card .top-section .border {
  border-bottom-right-radius: 10px;
  height: 30px;
  width: 130px;
  position: relative;
  transform: skew(-40deg);
}

.card .top-section .border::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: -15px;
  background: rgba(212, 25, 25, 0);
  border-top-left-radius: 10px;
}

.card .top-section::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(255, 255, 255, 0);
  height: 15px;
  width: 15px;
  border-top-left-radius: 15px;
}

.card .top-section .icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.card .top-section .icons .logo {
  height: 100%;
  aspect-ratio: 1;
  padding: 7px 0 7px 15px;
}

.card .top-section .icons .logo .top-section {
  height: 100%;
}

.card .top-section .icons .social-media {
  height: 100%;
  padding: 8px 15px;
  display: flex;
  gap: 7px;
}

.card .top-section .icons .social-media .svg {
  height: 100%;
  fill: #1b233d;
}

.card .top-section .icons .social-media .svg:hover {
  fill: white;
}

.card .bottom-section {
  margin-top: -8px;
  padding: 10px 5px;
}

.card .bottom-section .title {
  display: block;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.card .bottom-section .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card .bottom-section .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(170, 222, 243, 0.721);
}

.card .bottom-section .row .item .big-text {
  font-size: 12px;
  display: block;
}

.card .bottom-section .row .item .regular-text {
  font-size: 9px;
}

.card .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
}

.image{
  /* margin-top: -35%; */
  width: 60%;
  /* mix-blend-mode: multiply; */
  margin-left: 22%;
  margin-top: 10%;
}

.image2{
  /* height: 80%; */
  width: 50%;
  margin-left: 28%;
}

.image3{
  /* height: 80%; */
  width: 40%;
  margin-left: 28%;
}

.butt {
  height: 50px;
  margin: 10px 5px 5px 135px;
  width: 220px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: #000000;
  /* background: linear-gradient(145deg, #2e2d2d, #212121); */
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

.butt:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.butt:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}

@media (max-width: 615px){
  .card{
    width: 275px;
  }
  .butt{
    margin-left: 7%;
  }
}