@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.Whole_div {
  background-repeat: repeat;
  background-size: auto 100vh;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x:hidden;
  width:100%;
}

.mediaInfo {
  margin-top: 10vh;
  background-size: auto 100vh;
}
.color_sectiom {
  background-color: #000000;
  padding-bottom: 5rem;
}

.container-fluid {
  /* max-width: 1500px; */
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 5rem;
}
.Row {
  text-align: center;
  width:100vw;
}

.info {
  margin-top: 20vh;
  color: white;
}

.d-image img {
  width: 100%;
  position: relative;
  transition: 0.3s;
  top: 0px;
  transition: top 0.2s linear;
}
.d-image img:hover {
  opacity: 0.9;
  top: 10px;
}
.logoSection {
  text-align: center;
  padding: 20vh 10vh 0 10vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 600px;
}
.info-div{
  width: 50%;
  position: relative;
}
.members {
  padding: 0vh 10vh 0 10vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.prizesection,.scheduleSection {
  width: 100vw;
  /* background-color: #f3effe; */
  /* background-color: #f4dbee; */
  /* background-color: rgb(255, 242, 242); */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  
}


.prizepool{
  display: flex;
  align-items: center;
  justify-content: center;
}
.worth{
  margin: 5px 10px 10px 0;
  font-style: italic;
  font-size: 3rem;
  font-weight: 400;
  color: #420457;
}
.prizee{
  font-style: oblique;
  font-size: 3rem;
  color: #420457;
}

.Prizes{
  width: 100%;
  font-family: repo-extrabold;
}


.sponsorSection {
  padding: 17vh 18vh 0 18vh;
}
#team{
  font-family: repo-bold;
  margin-top: 20vh;
}
.faqsSection {
  text-align: center;
  margin: 0 auto;
  padding: 17vh 18vh 0 18vh;
  margin-top: 0vh;
  /* height: 100vh; */
}
.my-faq-head{
margin-bottom: 50px;
font-family: repo-bold;
margin-top: 15vh;
}
.reverse{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

@media (max-width:1100px) {
  .info-div{
    width: 100%;
  }
}
@media (max-width:779.99px) {
  .reverse{
    flex-direction: row-reverse;
  }
}

@media (max-width: 450px){
  .contain img{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 30rem;
    /* width: 10rem; */
  }
  .imagee{
    display: none;
  }
  .reverse{
    flex-direction: column-reverse;
  }
  .homepage-map{
   margin-top: 80px;
  }
}


@media (max-width: 578px) {
  .mediaInfo {
    margin-top: 0;
  }
  .Whole_div {
    background-size: auto 100vh;
  }

  
  .members {
    margin-left: -15px;
    padding: 0;
  }

  .prizesection {
    padding-top: 17vh ;
  }
  .scheduleSection {
    padding-top: 17vh ;
  }
  .sponsorSection {
    padding: 0;
    margin: 0;
    margin-top: 10rem ;
    margin-left: -10px;
  }
  .logoSection {
    text-align: left;
    padding: 20vh 0vh 0 0vh;
  }
  .info-div{
    width: 100%;
  }
  .imagee{
    display: none;
  }
  .reverse{
    flex-direction: column-reverse;
  }
}


@media (max-width: 1175.99px)  {
  .imagee{
    display: none;
  }
}
.contain{
   transition: all;
   margin-top: 5rem;
   margin-bottom: 5rem;
}

.imagee{
   width: 70vh;
  /* transition: all 300ms ease-in;
  animation: upDown 1s infinite alternate ease; */
}

@keyframes upDown {
  from{
    transform:translateY(-20px)
  }
  to{
    transform: translateY(0px);
  }
}

.contain img {
  transition: transform 0.2s ease-in-out;
  /* animation: bounce 0.5s ease infinite; */
}


.cardone {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 30px;
  /* margin-right: 20px; */
}


.cardone .bg img{
  position: absolute;
  top: -60px ;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  
}
/* @keyframes imgRotate {
  from{
    transform:translateX(-50%) rotateY(0deg);
  }
  to{
    transform: translateX(-50%) rotateY(360deg);
    
  }
} */
.text_prizes{
  font-family: 'Russo One', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0;
  line-height: 1.1;
  background-color: red;
    background-image: linear-gradient(45deg, rgb(67, 67, 67), #141313);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


 .cards_prizes{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-top: 10vh;
}

/* card2 */
.cardtwo {
  position: relative;
  width: 200px;
  height: 280px;
  border-radius: 14px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cardtwo .bg img{
  position: absolute;
  top: -130px ;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  animation: imgRotate 2s infinite;
  transition: all 3s;
}




/* card3 */
.cardthree {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cardthree .bg img{
  position: absolute;
  top: -60px ;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
}
.cards_{
  transition: all 300ms ease-in-out !important;
}
.cards_:hover{
  scale: 1.1;
}


/* more Prizes */
.more_prizes{
  width: 100%;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.more-one{
  width: 200px;
  height:250px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.gif_prize{
  width: 150px;
}
.more-title{
  font-family: repo-bold;
  background-color: black;
  /* background-image: linear-gradient(45deg, red, #2D71D5); */
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.more-title-sponsor{
  font-family: repo-bold;
  font-size: x-large;
  background-color: red;
  background-image: linear-gradient(45deg, red, #2D71D5);
  background-size: 100%;
  background-clip: text;
  margin-top: 10%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.more-title-sponsor-silver{
  display: flex;
  /* flex-direction: row; */
  vertical-align: middle;
  justify-content: center;
  flex-wrap: wrap;
}
/* .sponsor-logos{
  width: 90vw;
  display: grid;
  grid-template-columns: auto auto auto;
}
.sponsor-bg{
  width: 200px;
  height: 150px;
  padding: 20px;
} */
.sponsor-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: center; 
  margin-top: 20px;
  margin-left: -17px;
}

.sponsor-logos {
  width: 100%;

  max-width: 300px; 
  margin-bottom: 20px; 
  transition: all 200ms ease-in !important;
}
.sponsor-logos:hover{
  scale: 1.1;
}

.sponsor-bg {
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px;   */
  background-color: #f4f0f08b;
  /* box-shadow: 10px 10px 60px #00000060 ,inset -20px -20px 60px #ffffff5d ; */
  height: 200px;
  /* width: 400px; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-bg img {
  width: 120%; 
  height: auto; 
  scale: 0.6;
}

