
.social-icons-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.social-icon {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.Register_a {
  padding: 50px 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  
}
.Register_a a {
  margin-left: 10px;
  margin-right: 10px;
}

.main-footer{
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: repo-extrabold;
}

.main-footer:nth-child(1)::after{
  content: "";
  width: 2px;
  height: 10px;
  background-color: white;
  position: absolute;
  right: -10%;
}




.hr{
  margin-bottom: 50px;
}
@media (min-width: 570px){
.inno-footer-container .inno{
  width: 200px;
}
}
@media (max-width:700px) {
  .hacks-footer-container .hacks{
    margin-left:50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 570px) {
  .Register_a a {
    margin-left: 0;
    margin-right: 0;
  }
  .Volunteer {
    margin-top: 15px;
  }
  .social-icon {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer-logo img{
    padding: 30px 0;
    transform: translateX(10%);
    // margin-top: 5vh;
  }
  .footer-logo .inno{
    transform: translateX(50%);
  }
  // .footer-logo .hacks{
  //   transform: translateX(50%);
  // }

}

.privacy-policy p {
  font-size: 2vh;
  font-weight: 300;
  margin: 0;
}

.template {
  position: fixed;
  bottom: 0;
  background-color: rgb(231, 231, 231);
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: center;
  padding-top: 4px;
  &-left{
    width: 80%;
  }
  img {
    width: 15px;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  p {
    margin: 0 auto;
    color: black;
    @media (max-width: 570px) {
      font-size: 14px;
    }
  }
}


.register-button {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px -1;
  display: block;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 100;
  
}

.register-button span {
  color: white;
  z-index: 100;
 font-size: 16px;
 width: 100%;
}

.register-button:hover span {
  background: linear-gradient(-45deg, red 0%, blue 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
}

.register-button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, red 0%, blue 100% );
  transform: scale(1);
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1) ;
  z-index: -1;
  border-radius: 10px;
}
.register-button:hover::after {
  transform: scaleY(0);
}

.register-button:active {
  scale: 0.90;
}
.register-link{
  text-decoration: none;
}
.footer-team{
  color: white;
  text-align: center;
  z-index: 10;
  font-family: poppins;
}
.social-links{
  z-index: 10;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-team p{
  color: gray;
}
.footer {
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}
.footer p {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}

.footer img {
  width: 70%;
  // margin: 0 auto;
  // transform: translateX(50%);
}
.footer_info {
  padding: 20px 0;
  background-color: rgb(0, 0, 0);
}
.footer-logo{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
}

.footer-logo img{
  width: 50%;
  padding:0;
 
}


.footer-logo-link{
  width: 50%;

}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-wave-path {
  fill:white;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
  opacity: 45%;
  z-index: 1;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
background-size:100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
background-size:100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

.inno{
  width: 10%;
  height: 100%;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  margin-top: 2vh;
}
.hacks{
  background-color: black;
  border-radius: 10px;
}