
  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Prompt&family=Space+Grotesk&display=swap');
.App {
  text-align: center;

  font-family: Prompt, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* overflow: hidden; */
}
body{
  background: url("https://img.freepik.com/premium-photo/night-sky-stars-galaxies-sky-dusk_494741-58778.jpg");
}




/* Filename - App.js */

.App {
  text-align: center;
  }
  
  .navbar {
    background-color: transparent;
  }
  
  .navbar.colorChange {
    /* background-color: #000; */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 1rem 5rem;
    padding: 10px 1rem;
    border-radius: 12px;
    height: 90px;
    z-index: 100;
    background-color: rgba(235, 235, 235, 0.1);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease 0s;

    -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); /* Standard syntax */
  }

  .navbar{
    background-color: red;
    margin: 1rem 5rem;
  }
  
.kPOmOg{
  height: fit-content !important;
}
.kJykRK{
  height: fit-content !important;
}

  /* .nav-bf::before {
    content: "";
    width: 105%;
    height: 105%;
    border-radius: 50%;
    background-image: linear-gradient( var(--rotate),#b067ff 24.48%,#02daff 50.52%,#14f195 75.52%,#fecf29 );
    filter: blur(3px);
    position: absolute;
    z-index: -1;
    animation: 7s linear 0s infinite normal none running gsgolL;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
